#countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.country{
       border: 2px dotted palegreen;
       border-radius: 5px;
       padding: 20px;
       position: relative;
}
.region{
    margin-bottom: 50px;
}
button{
    padding: 15px 30px;
    width: 100%;
    border: 2px solid orangered;
    background-color: burlywood;
    cursor:pointer;
    position: absolute;
    color: white;
    font-size: 20px;
    bottom: 0;
    left: 0;
    right: 0;

}
img{
    height: 250px;
    width: 100%;
}